<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All repairs
    </h1>

    <a href="/repairs/new" class="btn btn-block btn-outline-secondary">
      Add a new repair
    </a>
  </div>
</div>

<!-- Ransack Code start -->

<!-- Ransack Code end -->

<!-- Location Map Code start -->

<!-- Location Map Code end -->

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Location
        </th>

        <th>
          Repair type
        </th>

        <th>
          Price
        </th>

        <th>
          Client
        </th>

        <th>
          Service provider
        </th>

        <th>
          Car type
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @repairs.each do |repair| %>
      <tr>
        <!-- Display repair.id start -->
        <td>
          <%= repair.id %>
        </td>
        <!-- Display repair.id end -->

        <!-- Display repair.location start -->
        <td>
          <%= repair.location %>
        </td>
        <!-- Display repair.location end -->

        <!-- Display repair.repair_type start -->
        <td>
          <%= repair.repair_type %>
        </td>
        <!-- Display repair.repair_type end -->

        <!-- Display repair.price start -->
        <td>
          <%= repair.price %>
        </td>
        <!-- Display repair.price end -->

        <!-- Display repair.client_id start -->
        <td>
          <%= repair.client_id %>
        </td>
        <!-- Display repair.client_id end -->

        <!-- Display repair.service_provider_id start -->
        <td>
          <%= repair.service_provider_id %>
        </td>
        <!-- Display repair.service_provider_id end -->

        <!-- Display repair.car_type start -->
        <td>
          <%= repair.car_type %>
        </td>
        <!-- Display repair.car_type end -->

        <!-- Display repair.created_at start -->
        <td>
          <%= time_ago_in_words(repair.created_at) %> ago
        </td>
        <!-- Display repair.created_at end -->

        <!-- Display repair.updated_at start -->
        <td>
          <%= time_ago_in_words(repair.updated_at) %> ago
        </td>
        <!-- Display repair.updated_at end -->

        <td>
          <a href="/repairs/<%= repair.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
