<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All service providers
    </h1>

    <a href="/service_providers/new" class="btn btn-block btn-outline-secondary">
      Add a new service provider
    </a>
  </div>
</div>





<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Email
        </th>

        <th>
          Password
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @service_providers.each do |service_provider| %>
      <tr>
        <td>
          <%= service_provider.id %>
        </td>

        <td>
          <%= service_provider.email %>
        </td>

        <td>
          <%= service_provider.password %>
        </td>

        <td>
          <%= time_ago_in_words(service_provider.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(service_provider.updated_at) %> ago
        </td>

        <td>
          <a href="/service_providers/<%= service_provider.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @service_providers, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
